@import "~@owl-labs/web-common/scss/variables";

$_prefix: icon-stats;
$_iconPositions: (
  'beach': 0 0,
  'car': -51px 0,
  'calendar': -153px -153px,
  'clock': -102px 0,  
  'cursor': -153px 0,
  'finance': 0 -51px,
  'government': -51px -51px,
  'laptop': -102px -51px,
  'manufacturing': -153px -51px,
  'money': 0 -102px,
  'pencil': -51px -102px,
  'red-cross': -102px -102px,
  'retail': -153px -102px,
  'scales': 0 -153px,
  'stethoscope': -51px -153px,
  'stocks': -102px -153px
);

.#{$_prefix} {
  &__item {
    display: flex;
    align-items: center;
    margin: 1.27em 0;
  }
  &__description {
    margin: 0;
  }
  &__icon {
    display: inline-block;
    background: url('//cdn2.hubspot.net/hubfs/2799205/website/sorw/2019/sorw-icon-sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -51px;
    text-align: left;
    margin-right: 1em;
    width: 51px;
    height: 51px;
    @each $name, $position in $_iconPositions {
      &[data-icon="#{$name}"] {
        background-position: $position;
      }
    }
  }
}