{#
  GLOBAL USE ONLY
  This module uses global
  config values.
#}
{%- set isSORW19 = content.slug == 'state-of-remote-work/2019' -%}
{%- if widget_data.global_config.show_promo_bar or isSORW19 -%}
  <aside class="owl-promo-bar owl-microcopy">
    <div class="max-width--nav">
      {%- if isSORW19 -%}
        {# Temporary SORW 2019 promo #}
        {%- set promoBarOverrides = {
          'us': {
            'href': 'https://shop.owllabs.com/discount/SORW50',
            'text': 'Get $50 off the Meeting Owl and Premium Pack until September 30th: Use <strong>SORW50</strong> at Checkout.'
          },
          'gb': {
            'href': 'https://uk-shop.owllabs.com/discount/SORW50',
            'text': 'Get £50 off the Meeting Owl and Premium Pack until September 30th: Use <strong>SORW50</strong> at Checkout.'
          },
          'ca': {
            'href': 'https://ca-shop.owllabs.com/discount/SORW50',
            'text': 'Get $50 off the Meeting Owl and Premium Pack until September 30th: Use <strong>SORW50</strong> at Checkout.'
          }
        } -%}
       {%- set country = request.geoip_country -%}
       {%- unless country in ['us', 'gb', 'ca'] -%}
         {%- set country = 'us' -%}
       {%- endunless -%}
      <!-- country: {{ country }} -->
      
        <a href="{{ promoBarOverrides[country].href }}">
          {{ promoBarOverrides[country].text }} <span class="mobile-only" style="text-decoration:underline;">Shop now.</span>
        </a>
      {%- else -%}
        {%- set hasUrl = widget_data.global_config.promo_bar_url is truthy -%}
        {% if hasUrl %}<a href="{{ widget_data.global_config.promo_bar_url }}">{% endif %}
        {{ widget_data.global_config.promo_bar_text }}
        {% if hasUrl %}</a>{% endif %}
      {%- endif -%}
    </div>
  </aside>
{%- endif -%}
