@import '~@owl-labs/web-common/scss/variables';

$_prefix: link-list;

.#{$_prefix} {
  @include breakpointAbove($breakpointMobile) {
    columns: 3;
  }
  &[data-type="ol"] {
    list-style-type: decimal;
    @include breakpointAbove($breakpointMobile) {
      columns: 2;
    }
    .#{$_prefix}__item {
      display: list-item;
      margin-left: 1em;
      @include breakpointBelow($breakpointMobile) {
        width: 100%;
      }
    }
  }
  &__item {
    @include breakpointAbove($breakpointMobile) {
      display: inline-block;
      width: 100%;
      margin-bottom: 1em;
    }
  }
}