<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./includes/base.html" %}
{% block head %}
  {# Template CSS #}
  {{ require_css(get_public_template_url('/Owl Web Team/template-assets/leadership/bundle.css')) }} 
{% endblock head %}


{% block body %}
      
  {% set noWrapper = !(request.query_dict.inpageEditorUI is truthy) -%}

  {# Subnav #}
  {%- module "subnav_anchors" path="/Owl Web Team/modules/Page anchor navigation", label="Page anchor navigation", no_wrapper={{ noWrapper }} -%}

  {# Overview #}
  {%- module "banner" path="/Owl Web Team/modules/Banner", label="Banner", no_wrapper={{ noWrapper }} -%}

  {# Blockquote #}
  {%- module "blockquote" path="/Owl Web Team/modules/Blockquote", label="Blockquote", no_wrapper={{ noWrapper }} -%}

  {# Blogs and Resources #}
  {%- module "blog_and_resources" path="/Owl Web Team/modules/template-specific/leadership/Blog and Resources", label="Blog and Resources", no_wrapper={{ noWrapper }} -%}

  {# Interviews #}
  {%- module "interviews_blog" path="/Owl Web Team/modules/template-specific/leadership/Blog and Resources", label="Interviews", no_wrapper={{ noWrapper }} -%}

  {# Tools and templates #}
  <section class="tiles">
    <div class="tiles__wrapper max-width--layout">
      <div class="tiles__section" data-thirds="3">
        <div class="section-header">
          <h2>{% text "tools_heading" label="Tools heading", value="Tools and templates", overrideable=True, no_wrapper={{ noWrapper }} %}</h2>
        </div>
        {%- module "tool_links" path="/Owl Web Team/modules/Link List", label="Links" -%}
      </div>
    </div>    
  </section>

  <section class="flex-ribbon" data-bg="blue">
    <div class="flex-ribbon__wrapper max-width--layout">
      <h3 class="flex-ribbon__item">{% text "subscribe_heading" label="Blog subscription heading", value="Signup for a weekly curated feed of our most helpful leadership content to support your team.", overrideable=True, no_wrapper={{ noWrapper }} %}</h3>
      <div class="flex-ribbon__item" data-variant="form">
        <div class="form-embed" data-css-class="blog-subscribe" data-portal-id="2799205" data-form-id="dde7f579-de7b-4e02-b281-6e212bcfb44d" id="subscribe-leadership"></div>
      </div>
    </div>
  </section>

  {# Press #}
  {%- module "press_cards" path="/Owl Web Team/modules/template-specific/leadership/Press Cards", label="Press and News" -%}


  {# Social #}
  <section class="flex-ribbon" data-bg="white" data-variant="simple">
    <div class="flex-ribbon__wrapper max-width--layout">
      <div class="flex-ribbon__item">
        {%- include '/Owl Web Team/templates/includes/social.html' -%}
      </div>
    </div>
  </section>
  
  
  {# Careers #}
  {# <section class="flex-ribbon" id="careers" data-bg="off-white">
    <div class="flex-ribbon__wrapper max-width--layout">
      <div class="flex-ribbon__item">
        <h3></h3>
        <a href="#" class="cta" data-cta-shape="button" data-cta-text-theme="primary">View Open Positions</a>
      </div>
    </div>
  </section> #}

  {# CTA Teaser: Careers #}
  {%- module "careers_cta" path="/Owl Web Team/modules/CTA Ribbon", label="Careers CTA Ribbon", no_wrapper={{ noWrapper }} -%}
  {# <section class="cta-ribbon" data-bg="grey">
    <div class="cta-ribbon__text max-width--layout">
      <h3>Join the Owl Labs team and help us reinvent the future of work.</h3>
      <div class="cta-ribbon__ctas">
        <a href="#" class="cta" data-cta-shape="button" data-cta-text-theme="primary">View Open Positions</a>
      </div>
    </div>
  </section> #}

  {# CTA Teaser: Owl Info #}  
  {%- module "products_cta" path="/Owl Web Team/modules/CTA Ribbon", label="Products CTA Ribbon", no_wrapper={{ noWrapper }} -%}

  {# <section class="cta-ribbon">
    <div class="cta-ribbon__text max-width--layout" data-variant="has-description">
      <h2>See which Meeting Owl is best for you.</h2>
      <p class="cta-ribbon__description">Looking for technology to support your team?</p>
      <div class="cta-ribbon__ctas">
        <a href="#" class="cta" data-cta-shape="button" data-cta-text-theme="secondary">Take the Quiz</a>
        <a href="#" class="cta" data-cta-shape="button" data-cta-text-theme="secondary">Shop Now</a>
      </div>
    </div>
    <picture class="cta-ribbon__image">
      <source media="(min-width: 1360px)" srcset="high_res.jpg">
      <source media="(min-width: 1024px)" srcset="tablet.jpg">
      <img src="mobile.jpg" alt="Alt text">
    </picture>
  </section> #}

{% endblock body %}

{% block footer %}
  {# Template JS #}
  {{ require_js(get_public_template_url('/Owl Web Team/template-assets/leadership/bundle.js')) }}
{% endblock footer %}