<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./includes/base.html" %}

{% block head %}
  {# Template CSS #}
  {{ require_css(get_public_template_url('/Owl Web Team/template-assets/sorw-2019/bundle.css')) }} 

  {# Read Time #}
  <meta name="twitter:label1" value="Topic">
  <meta name="twitter:data1" value="Remote Work Statistics">
{% endblock head %}


{% block body %}

  {% set noWrapper = !(request.query_dict.inpageEditorUI is truthy) -%}

  {# Banner #}
  {%- module "report_banner" path="/Owl Web Team/modules/template-specific/sorw-2019/Report Banner", label="Report Banner", no_wrapper={{ noWrapper }} -%}

      
  {# INTRO #}
  <section class="section max-width--layout" id="intro">
    <h2 class="h3" data-size="narrow">{%- text "report_intro_heading", label="Intro heading", value="Remote work isn't the future of work — it's the present", no_wrapper={{ noWrapper }} -%}</h2>
    <div class="section__row">
      <div class="section__column">
        {%- rich_text "report_intro_left", label="Intro (left)", no_wrapper={{ noWrapper }} -%}
      </div>
      <div class="section__column">
        {%- rich_text "report_intro_right", label="Intro (right)", no_wrapper={{ noWrapper }} -%}        
      </div>
    </div>
  </section>

  {# Subnav - sticky after main content #}
  {%- module "subnav_anchors" path="/Owl Web Team/modules/Page anchor navigation", label="Page anchor navigation", no_wrapper={{ noWrapper }} -%}
  
  {# Promo Bar #}
  {%- module "promo_bar_2" path="/Owl Web Team/modules/Promo bar", label="Promo bar", no_wrapper=True, overrideable=False -%}
  
  {# 1: DEMOGRAPHICS #}
  <section class="section max-width--layout page-anchor-nav__section" id="demographics">
    <h2 class="section__heading">{%- text "section_heading_0", label="Demographics heading", value="I. Survey Demographics", no_wrapper={{ noWrapper }} -%}</h2>

    {# Who took the survey #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_0", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_1", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# How Often People Work Remotely #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_2", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_3", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# Remote Work Frequency by Level #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_4", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_5", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Stacked Chart #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_6", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_6b", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    {# Which Industries are Represented #}
    <div class="section__row">
      <div class="section__column" data-width="narrow">
        {%- widget_container "flex_col_7", label="Demographics Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Industries Graphs  #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_8", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_9", label="Demographics Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_10", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    {# Which Departments are Represented #}
    <div class="section__row">
      <div class="section__column" data-width="narrow">
        {%- widget_container "flex_col_11", label="Demographics Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Departments Graphs  #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_12", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_13", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    {# Salary Information #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_14", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_15", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Salary: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_16", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_17", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Salary: Subtext  #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_18", label="Demographics Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# Tenure Data #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_19", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_20", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Tenure Data: Charts #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_21", label="Demographics Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_22", label="Demographics Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_23", label="Demographics Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
  </section>

  {# 2: RETENTION #}
  <hr />
  <section class="section max-width--layout page-anchor-nav__section" id="retention">
    <h2 class="section__heading">{%- text "section_heading_1", label="Retention heading", value="II. Happiness, Loyalty, and Retention", no_wrapper={{ noWrapper }} -%}</h2>

    {# How Remote Work Impacts Employee Loyalty #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_24", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_25", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Remote Work Impacts Employee Loyalty: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_26", label="Retention Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Remote Work Impacts Employee Loyalty: Charts in 3 columns #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_27", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_28", label="Retention Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_29", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# Working Remotely in the Future #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_30", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_31", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Working Remotely in the Future: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_32", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_33", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
   
    {# How Remote Work Impacts Employee Happiness #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_34", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_35", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Remote Work Impacts Employee Happiness: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_36", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_37", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# How Remote Work Impacts Employee Retention and Loyalty #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_38", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_39", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    
    {# Remote Work’s Perceived Impact on Career Progression #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_40", label="Retention Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_41", label="Retention Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
  </section>
 
  {# 3: WHY REMOTE WORK #}
  <hr />
  <section class="section max-width--layout page-anchor-nav__section" id="why-remote">
    <h2 class="section__heading">{%- text "section_heading_2", label="Why Remote Work heading", value="III. Why Remote Work?", no_wrapper={{ noWrapper }} -%}</h2>

    {# The Top Reasons for Working Remotely #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_42", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_43", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# The Top Reasons for Working Remotely: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_44", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_45", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    {# Which Benefits and Perks Are Most Important #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_46", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_47", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: Chart Row 1 #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_48", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_49", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: Chart Row 2 #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_50", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_51", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: 3 col chart #}
    <div class="section__row" data-columns="3" data-alignment="end">
      <div class="section__column">
        {%- widget_container "flex_col_52", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_53", label="Why Remote Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_54", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: Comparison Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_55", label="Why Remote Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: 3 col comparison charts #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_56", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_57", label="Why Remote Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_58", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Which Benefits and Perks Are Most Important: 3 col comparison charts, second row #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_59", label="Why Remote Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_60", label="Why Remote Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_61", label="Why Remote Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
  </section>
  
  {# 4: PRODUCTIVITY #}
  <hr />
  <section class="section max-width--layout page-anchor-nav__section" id="productivity">
    <h2 class="section__heading">{%- text "section_heading_3", label="Productivity heading", value="IV. Productivity and Working Hours", no_wrapper={{ noWrapper }} -%}</h2>

    {# How Many Hours Respondents Are Working #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_62", label="Productivity Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_63", label="Productivity Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    {# Why Respondents Are Working Longer Hours #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_64", label="Productivity Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_65", label="Productivity Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
  </section>
  
  {# 5: MEETINGS #}
  <hr />
  <section class="section max-width--layout page-anchor-nav__section" id="meetings">
    <h2 class="section__heading">{%- text "section_heading_4", label="Meetings heading", value="V. Meetings", no_wrapper={{ noWrapper }} -%}</h2>

    {# How Many Meetings Respondents Attend Each Week #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_66", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_67", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Many Meetings Respondents Attend Each Week: Text and pie charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_68", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_69", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Many Meetings Respondents Attend Each Week: Text and comparison charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_70", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_71", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />
    
    {# Challenges During Hybrid Meetings #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_72", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_73", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# Challenges During Hybrid Meetings: 3 col charts #}
    <div class="section__row" data-columns="3">
      <div class="section__column">
        {%- widget_container "flex_col_74", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_75", label="Meetings Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_76", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# CTA #}
    <div class="section__row" data-style="cta">
      <div class="section__column">
        {%- widget_container "flex_col_77", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_77b", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <div class="section__row" data-style="cta">
      <div class="section__column">
        {%- widget_container "flex_col_77c", label="Meetings Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# How Meetings Impact Productivity #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_78", label="Meetings Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_79", label="Meetings Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>    
  </section>
  
  {# 6: REMOTE WORK TRAINING AND MANAGEMENT #}
  <hr />
  <section class="section max-width--layout page-anchor-nav__section" id="management">
    <h2 class="section__heading">{%- text "section_heading_5", label="Management heading", value="VI. Remote Work Training and Management", no_wrapper={{ noWrapper }} -%}</h2>

    {# How Many Remote Workers and Managers Received Training #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_80", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_81", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# How Many Remote Workers and Managers Received Training: 3 col charts #}
    <div class="section__row" data-columns="3" data-alignment="end">
      <div class="section__column">
        {%- widget_container "flex_col_82", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_83", label="Management Center Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_84", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# The Biggest Challenges Facing Remote Employee Managers #}
    <div class="section__row">
      <div class="section__column" data-width="narrow">
        {%- widget_container "flex_col_85", label="Management Single Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# The Biggest Challenges Facing Remote Employee Managers: Callouts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_86", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_87", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# The Biggest Challenges Facing Remote Employee Managers: Descriptions #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_88", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_89", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    {# The Biggest Challenges Facing Remote Employee Managers: Charts #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_90", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_91", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>
    <hr />

    {# Do remote workers still shower when they get up for work every morning? #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_container "flex_col_92", label="Management Left Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
      <div class="section__column">
        {%- widget_container "flex_col_93", label="Management Right Column", no_wrapper={{ noWrapper }} -%}{%- end_widget_container -%}
      </div>
    </div>

    <hr />
    {# RTE Footer #}
    <div class="section__row">
      <div class="section__column">
        {%- widget_block rich_text "footer_rte", label='Rich Text Footer', no_wrapper={{ noWrapper }} -%}
          {%- widget_attribute "html" -%}
            <p>Hello, world!</p>
          {%- end_widget_attribute -%}
        {%- end_widget_block -%}
      </div>
    </div>
  </section>
  
  {# Form #}
  <section id="form" data-bg="blue" class="report-download">
    <div class="report-download__text">
      <h2>{% text "form_title", label="Form Title", value="Download the Data" %}</h2>
      <p>{% text "form_description", label="Form Description", value="Want to share this report with a colleague or reference on your own blog? Download the graphs in PDF format. All cited content should reference and link to the State of Remote Work." %}</p>
    </div>
    <div class="form-embed" data-css-class="max-width--layout report-download__form" data-portal-id="2799205" data-form-id="35b849d9-f623-490b-85e8-dbc57e5ace3e" id="report-download__form-container"></div>
  </section>

  {# Discount Callout #}
  <aside class="report-discount">
    <div class="max-width--layout report-discount__wrapper">
      <img class="lazy report-discount__img" data-src="https://www.owllabs.com/hubfs/website/sorw/2019/coupon-icon.png" alt="Sales tag icon">      
      {%- if request.geoip_country == 'gb' -%}
        <p class="report-discount__text">{% text "report_discount_text_gbp" label="Discount Description (GBP)", value="Now through September 30th get £50 off the Meeting Owl and Premium Pack using code <strong>SORW50</strong>" %}</p>
      {%- else -%}
        <p class="report-discount__text">{% text "report_discount_text_non_gbp" label="Discount Description (non-GBP)", value="Now through 9/30 get $50 off the Meeting Owl and Premium Pack using code <strong>SORW50</strong>" %}</p>
      {%- endif -%}
      {%- cta "report_discount_cta" label='Discount CTA', guid='' -%}
    </div>
  </aside>

  {# Supplemental info #}
  <aside class="report-bg">
    <img class="report-bg__image mobile-only lazy" data-src="{{ resize_image_url('https://www.owllabs.com/hubfs/website/sorw/2019/meeting-owl-mobile.png', 1024) }}" alt="Meeting Owl product picture" />
    <div class="max-width--layout report-bg__wrapper">
      <div class="report-bg__text">
        <h2>{%- text "supplemental_title", label="Background Section Title", value="Why we made this report", no_wrapper={{ noWrapper }} %}</h2>
        <div class="report-bg__rte">
          {%- rich_text "supplemental_rte", label="Background Section Rich Text", no_wrapper={{ noWrapper }} -%}
        </div>
      </div>
    </div>
  </aside>

  {# CTA Teaser: Owl Info #}  
  {%- module "products_cta_b" path="/Owl Web Team/modules/CTA Ribbon", label="CTA Ribbon", no_wrapper={{ noWrapper }} -%}

  {# Report info #}
  <aside class="report-info">
    <div class="max-width--layout report-info__wrapper">
      <div class="report-info__logo">{%- image "author_image", label="Author Logo", no_wrapper={{ noWrapper }} -%}</div>
      <div class="report-info__rte">{%- rich_text "info_rte", label="Author Rich Text", value="<p>Global Workplace Analytics is a research-based consulting firm that focuses on shaping workplace and workforce strategies to improve people, planet, and profit outcomes. Global Workplace Analytics partners with a handful of respected industry players to advance thought leadership on, among other things, the qualitative and quantitative impacts of workplace change. The firm’s work is informed by a proprietary digital library of over 5,000 research reports, case studies, and other content related to the technologies, trends, and scientific understandings that are transforming the way people work.</p>", no_wrapper={{ noWrapper }} -%}</div>
    </div>
  </aside>
{% endblock body %}


{% block footer %}
  {# Template JS #}
  {{ require_js(get_public_template_url('/Owl Web Team/template-assets/sorw-2019/bundle.js')) }}
{% endblock footer %}