{%- if module.stats|length > 0 -%}
  <ul class="icon-stats">  
    {%- for item in module.stats -%}
    <li class="icon-stats__item">
      <span class="icon-stats__icon" aria-hidden="true" data-icon="{{ item.icon }}"></span>
      <p class="icon-stats__description"><strong>{{ item.percentage }}%</strong> {{ item.stat_label}}</p>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
