@import "~@owl-labs/web-common/scss/variables";
$_prefix: banner;
$_breakpointWide: 2049px;

.#{$_prefix} {
  @include bodyFontLarge();
  color: $mainTextColorOnDark;
  text-align: center;  
  @include breakpointAbove($breakpointMobilePortrait) {
    text-align: left;
    background-color: $backgroundMid;
  }
  &__mobile-descriptor {
    background-color: $backgroundLight;
    color: $mainTextColor;
    padding: 1.15em 0;
    @include breakpointAbove($breakpointMobilePortrait) {
      display: none;
    }
  }
  &__wrapper {
    position: relative;
    @include breakpointAbove($breakpointMobilePortrait) {
      position: static;
      display: flex;
      //align-items: center;
    }
  }
  &__image {
    position: relative;
    @include breakpointAbove($breakpointMobilePortrait) {
      width: 63.25%;
      overflow: hidden;
    }
    
    img {
      width: 100%;
      @include breakpointAbove($breakpointMobilePortrait) {
        position: absolute;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
      }
    }
  }
  &__text {
    order: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2.7em 2.2em;
    @include breakpointAbove($breakpointMobilePortrait) {
      position: static;
      padding: 4.2em 4.3em 5.3em 4.75em;
      max-width: 400px;
    }    
  }
}