{% if module.text.title %}
  {%- set hasId = module.options.section_id is truthy -%}
  <section class="banner{% if hasId %} page-anchor-nav__section{% endif %}"{% if hasId %} id="{{ module.options.section_id }}"{% endif %}>
    <div class="banner__wrapper">
      <div class="banner__text">
        <h1>{{ module.text.title }}</h1>
        <p>{{ module.text.description|first }}</p>
        {%- if module.text.description|length > 1 %}<p class="desktop-only">{{ module.text.description|last }}</p>{% endif -%}
      </div>
      <div class="banner__image">
        {%- set fallbackImage = resize_image_url(module.images.desktop_image.src, 1360) -%}
        {%- set altText = module.images.desktop_image.alt or module.images.mobile_image.alt or module.text.title -%}
        <picture>
          <source media="(min-width: 1500px)" srcset="{{ resize_image_url(module.images.desktop_image.src, 1500) }}">
          <source media="(min-width: 1360px)" srcset="{{ fallbackImage }}">
          <source media="(min-width: 801px)" srcset="{{ resize_image_url(module.images.desktop_image.src, 1024) }}">
          <source media="(min-width: 0px)" srcset="{{ resize_image_url(module.images.mobile_image.src, 600) }}">
          <img src="{{ fallbackImage }}" alt="{{ altText }}">
        </picture>
      </div>
    </div>
    {%- if module.text.description|length > 1 %}<p class="banner__mobile-descriptor">{{ module.text.description|last }}</p>{% endif -%}
  </section>
{% endif %}