$_prefix: currency-dropdown;

.#{$_prefix} {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  &__list {
    display: inline-block;
  }
  &__parent {
    position: relative;
    padding-right: 2em;
    font-size: $microcopySizeMobile;
    letter-spacing: 1px;
    cursor: pointer;
    color: $dropdownTextColorInactive;
    
    @include breakpointAbove($breakpointTablet) {
      font-size: $microcopySize;
    }
    @include handleHover(true) {
      color: $mainTextColor;
      svg {
        stroke: $mainTextColor;
      }
      ul {
        height: auto;
        opacity: 1;
        pointer-events: auto;
      } 
    }

    .header & {
      @include breakpointBelow($breakpointMobile) {
        border: 1px solid $dropdownBorderColor;
        padding: 0 2.2em .1em .3em;
        color: $mainTextColor;
      }
    }
    
    svg {
      stroke: $dropdownTextColorInactive;
      position: absolute;
      right: 0.6em;
      top: 50%;
      transform: translateY(-50%);
    } 
    ul {
      transition: opacity 0.35s ease-in-out;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
      height: 0;
      border-top: 1px solid $dropdownBorderColor;
    }
  }
  &__link {
    display: block;
    padding: $_dropdownPadding;          
    background-color: $backgroundLight;
    border: 1px solid $dropdownBorderColor;
    border-top: 0;
    transition: .3s ease background-color;
    @include handleHover() {
      background-color: $dropdownBackgroundColorHover;
    }
    &.active {
      display: none;
    }
    // Loop through theme's supported currencies 
    @each $code in $availableCurrencies {
      &[data-code='#{$code}'] {
        @if ($code == 'GBP') {
          // GBP pound symbol
          &::before {
            content: '£'
          }
        } @else {
          // Default price symbol
          &::before {
            content: '$';
          }
        }
      }
    }
  }    

  // Dark theme
  [data-bg='dark'] & {
    .currency--selected-value {
      color: $mainTextColorOnDark;
    }
    .#{$_prefix} {
      &__list {
        border: 1px solid $dropdownBorderColor;
      }
      &__parent {
        padding: 0 2.2em .1em .3em;
        svg {
          stroke: $mainTextColorOnDark;
          @include handleHover() {
            stroke: $mainTextColorOnDark;
          }
        }
        ul {
          left: -1px;
          width: calc(100% + 2px);
        }
      }
      &__link {
        transition: 0.3s ease color;
        background-color: $backgroundDark;
        color: $mainTextColorOnDark;
        @include handleHover() {
          color: $textColorActiveOnDark;
        }
      }
    }
  }
}