$_prefix: currency;

.#{$_prefix} {
  // Loop through theme's supported currencies 
  @each $code in $availableCurrencies {
    &[data-selected-currency='#{$code}'] {
      &::after {
        // Populate with data in data-[CODE]
        content: attr(data-#{$code})
      }
      @if ($code == 'CAD') {
        &::after {
          content: attr(data-#{$code}) " CAD"
          }
      }
      @if ($code == 'GBP') {
        // GBP pound symbol
        &::before {
          content: '£'
        }
      } @else {
        // Default price symbol
        &::before {
          content: '$';
        }
      }
    }
  }
}