@import '~@owl-labs/web-common/scss/variables';

/* 
 * TEMPORARY
 * ================
 * Overriding Salted Stone's CSS. Sigh.
 * Also https://cdn2.hubspot.net/hubfs/2799205/owl-labs-styles.min.css
 */

body .header-container-wrapper .header-container {
  position: static;
}

.header-container-wrapper {
  font-weight: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .header {
    border-bottom: 1px solid #ddd;
    position: sticky;
    padding: 0;
    @include breakpointAbove($breakpointMobile) {
      position: relative;
    }
    ul {
      @include breakpointAbove($breakpointMobile) {
        margin-bottom: 0;
      }      
    }
    li {
      margin-bottom: 0;
    }
  }
  
  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    float: none;
  }
  
  .header__logo img {
    vertical-align: baseline;
  }

  .header__nav[data-variant=primary] .hs-menu-item.hs-menu-depth-1>a {
    overflow: visible;
    padding: 1.2em 0;
    @include breakpointAbove($breakpointMobile) {
      padding: 1.3em;
    }
  }
  ul {
    font-size: inherit;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    @include breakpointBelow($breakpointMobile) {
      padding: 0;
    }
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    @include breakpointBelow($breakpointMobile) {
      width: 100%;
    }
  }
  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    @include breakpointAbove($breakpointMobile) {
      transform: translateY(20px); 
      transition: all .35s ease;
    }
    @include breakpointBelow($breakpointMobile) {
      position: static;
      transition: none;
      visibility: visible;
      opacity: 1;
    }    
  }
  .no-touch .header__nav[data-variant=primary] .hs-menu-item.hs-menu-depth-1:hover .hs-menu-children-wrapper {
    @include breakpointAbove($breakpointMobile) {
      transform: translateY(0);
    }    
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    width: auto;
    text-overflow: unset;
  }

  ~ .body-container-wrapper {
    margin-top: 94px;
  }
}

