@import "~@owl-labs/web-common/scss/variables";
//@import './partials/layout';

$_prefix: banner;

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes point {
  0% { top: 65%; }
  100% { top: 50%; }
}

.#{$_prefix} {
  // height: 91.7%;
  // width: 100%;
  // left: 0;
  // position: relative;
  // top: 0;
  // z-index: 0;
  color: $mainTextColorOnDark;
  height: 100vh;
  &__wrapper { 
    background-color: #4a8ba0;
    background: linear-gradient(10deg, #efbe57, #4a8ba0, #f0be58, #47859e);
    background-size: 300% 300%;
    animation: gradientBG 10s ease infinite; 
    animation-play-state: paused;
    //backface-visibility: hidden;
    bottom: 0;
    //height: 100%;
    //width: 100%;
    //height: auto;
    min-height: 100%;
    min-width: 100%;
    //perspective: 1000;
    //position: relative;
    //right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    @include breakpointAbove($breakpointMobile) {
      flex-direction: row;
    }
    @include breakpointBelow($breakpointMobile) {
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
    }
    .in-view & {
      animation-play-state: running;
    }
    h1 {
      @include responsiveFont(8.7vw, 50px, 120px, 85px);
      line-height: 1;
      @include breakpointAbove($breakpointMobile) {
        flex: 2;
        padding: 0 0 0 0.55em;
        line-height: 1.1;
        margin-bottom: 0;         
      }
      span {
        opacity: .7;
      }
    }
    &-description {
      @include breakpointAbove($breakpointMobile) {
        flex: 1;
        align-self: stretch;
        border-left: 1px solid #D8D8D8;
        padding: 0 2em;
        position: relative;
      }
      &-contents {
        @include breakpointAbove($breakpointMobile) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);          
          width: 61%;
        }
        p {
          @include responsiveFont(1.9vw, 18px, 26px, 22px);
        }
      }
    }
  }
  &__link {
    border-bottom: 1px solid #cfcfcf;
    height: 50px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $backgroundLight;
    z-index: 2;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23373E40' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 14px;
      height: 9px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: point 1s infinite  alternate;
    }
  }
}

// CMS page editor fix
#hs_cos_wrapper_report_banner {
  min-height: 90vh;
}