
// Overrides for Product CSS that gets included on pages
.row-fluid {
  [class*='span'] {
    &[class*='widget-type-'] {
      &:not(.widget-type-space) {
        min-height: 0;
      }
    }
  }
}

// Fade in HubSpot CTAs
.hs-cta-wrapper {
  .js & {
    .hs-cta-node {
      a {
        opacity: 0;
        animation: 0.1s fadeIn ease 0.5s 1 forwards;
      }
    }
  }
}

// RTEs
.hs_cos_wrapper_type_rich_text {
  ul, ol {
    margin-left: 2em;
    margin-bottom: 2em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}