$_prefix: articles;

.#{$_prefix} {
  &__container {
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__item {
    @include breakpointAbove($breakpointMobile) {
      margin-left: 2%;
      flex: 1;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}