$_prefix: blog-subscribe;
$_inputHeight: 60px;

.#{$_prefix} {
  display: flex;
  flex-direction: column;

  .legal-consent-container {
    font-size: 0.75em;
    line-height: 1.3333;
    order: 3;
    margin-top: 3.5em;
  }

  .hs_email {
    order: 0;
    position: relative;

    // Parent wrapper
    .input {
      background-color: $backgroundLight;
    }

    .hs-field-desc {
      margin: 0 0 2.4em;
      @include breakpointAbove($breakpointTablet) {
        margin: 1.7em 0 2.88em;
        font-size: 1.125em;
      }
      @include breakpointBelow($breakpointMobile) {
        font-size: 0.88em;
      }
    }

    > label {
      @include hideVisually();
    }
    
    input {
      color: $mainTextColor;
      height: $_inputHeight;
      padding-left: 18px;
      font-size: 18px;
      width: 69%;
    }

    .hs-error-msgs {
      position: absolute;
      top: calc(100% + 6px);
      color: $warningTextColor;
      font-size: 0.875em;
    }
  }
  .hs_submit {
    order: 1;
    position: relative;
    height: 0;
    width: 100%;

    .actions {
      position: absolute;
      top: -$_inputHeight;
      height: $_inputHeight;
      right: 0;
      margin: 0 19px 0 0;

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $mainLinkColor;
        position: absolute;
        bottom: 33%;
        left: 0;
        pointer-events: none;
      }
    }
    
    input {
      transition: .35s ease-in-out color;
      font-size: 14px;
      letter-spacing: 1px;      
      font-weight: $fontWeightSemiBold;
      background-color: $backgroundLight;
      width: 100%;
      height: calc(100% - 8px);
      @include uppercaseString();
      cursor: pointer;

      &:hover,
      &:active {
        color: $mainLinkColor;
      }
    }
  }
}