$_prefix: section-header;

.#{$_prefix} {
  border-bottom: 1px solid $backgroundDark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.2em;
  @include breakpointAbove($breakpointMobile) {
    position: relative;
    margin-bottom: 2.45em;
  }
  &[data-variant="centered"] {
    border-bottom: none;
    justify-content: center;
  }
  &__link {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}