$_prefix: tiles;

.#{$_prefix} {
  &__wrapper {
    // max-width: 1056px;
    // margin: 0 auto;
    // padding: 0 40px;
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      //padding: 0;
      justify-content: space-between;
    }
  }
  + .#{$_prefix} {
    margin-top: 5.8em;
  }
  a {
    text-decoration: none;
    color: $mainTextColor;
  }
  &__section {
    margin-top: 3.45em;
    width: 100%;
    @include breakpointAbove($breakpointMobile) {
      margin-top: 0;
    }
    &[data-thirds='1'] {
      @include breakpointAbove($breakpointMobile) {
        width: 28.7%;
      }
    }
    &[data-thirds='2'] {
      @include breakpointAbove($breakpointMobile) {
        width: 59.2%;
      }
    }
  }
  &__container {
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      justify-content: space-between;
    }
    [data-thirds="1"] & {
      @include breakpointAbove($breakpointMobile) {
        flex-direction: column;
      }
    }
    [data-thirds="2"] & {
      .tile {
        @include breakpointAbove($breakpointMobile) {
          width: 48%;
        }
      }
    }
    [data-thirds="3"] & {
      .tile {
        @include breakpointAbove($breakpointMobile) {
          width: 49%;
        }
      }
    }
  }  
}