$_prefix: tile;

.#{$_prefix} {
  border: 1px solid $backgroundMid;
  margin-bottom: 1em;
  @include breakpointAbove($breakpointMobile) {
    position: relative;
    padding-bottom: 48px; // TODO: refactor when there's time :) 
  }
  &[data-bg="dark"] {
    a {
      color: $mainTextColorOnDark;
    }
  }
  &[data-variant="featured"] {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &[data-variant="report"] {
    padding-bottom: 0;
    @include breakpointAbove($breakpointMobile) {
      flex-flow: row;
      display: flex;
    }
    .#{$_prefix} {
      &__image-wrapper {
        @include breakpointAbove($breakpointMobile) {
          flex: 2.1;
        }
      }
      &__text {
        padding: 1.26em 1.85em;
        @include breakpointAbove($breakpointMobile) {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          flex-direction: column;
          flex: 3;
        }      
        h3,
        .#{$_prefix}__meta {
          @include breakpointAbove($breakpointMobile) {
            width: 100%;
          }          
        }
        h3 {
          @include breakpointAbove($breakpointMobile) {
            align-self: flex-start;
          }
        }  
      }
    }
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
  &__image-wrapper {
    position: relative;
    overflow: hidden;    
    &::after {
      content: '';
      height: 0;
      padding-bottom: 66.25%;
      display: block;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      max-width: none;
    }    
  }
  &__ctas {
    margin-bottom: 1em;
  }
  &__text {
    padding: 0.8em 1em;
    [data-variant="featured"] & {
      padding: 0.8em 1.2em;
      position: relative;
      background-size: cover;
      //@include breakpointAbove($breakpointMobile) {
      min-height: 12.65em;       
      //}
      h3 {
        //@include breakpointAbove($breakpointMobile) {
        font-size: 2.4em;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        //}
        span {
          opacity: 0.65;
        }
      }
      a {
        color: $mainTextColorOnDark;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__link {
    border-top: 1px solid $backgroundMid;
    padding: 1.1em 1.18em;
    font-size: .78em;
    display: block;
    font-weight: $fontWeightSemiBold;
    position: relative;
    transition: background-color .3s ease;
    box-sizing: border-box;
    @include handleHover() {
      background-color: $dropdownBackgroundColorHover;
      color: $mainTextColor;
    }
    @include breakpointAbove($breakpointMobile) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='10' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l7 7-7 7' stroke='%23979797' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.45em;
    }
  }
  &__summary {
    font-size: .87em;
    margin: 1.3em 0;
    line-height: 1.35;
  }
  &__meta {
    color: $textColorActiveOnDark;
    margin: 3.25em 0 0.55em;
    font-size: .765em;
    line-height: 1.35;
    letter-spacing: 1px;
    [data-variant='report'] & {
      letter-spacing: 0;
    }
    p {
      margin: 0;
    }
    a {
      color: $textColorActiveOnDark;
      [data-variant='report'] & {
        color: $mainTextColorOnDark;
        @include handleHover() {
          color: $textColorActiveOnDark;
        }
      }
    }
    &-avatar {
      float: left;
      margin-right: 9px;
      img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        object-fit: cover;  
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    &-author {
      @include uppercaseString();
      font-weight: $fontWeightSemiBold;
      [data-variant="report"] & {
        html[lang='en'] & {
          text-transform: none;
        }        
        color: $mainTextColorOnDark;
      }
    }
    &-date {
      font-size: 0.9em;
    }
  }
}