@import "~@owl-labs/web-common/scss/variables";

$_prefix: page-anchor-nav;
$_backgroundColor: #f4f4f4;

.#{$_prefix} {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  //text-align: center;
  background-color: $_backgroundColor;
  z-index: 2;
  // @supports (position: sticky) {
  //   & {
  //     position: sticky;  
  //   }
  // }
  @include breakpointAbove(1300px) {
    text-align: center;
  }  
  &__wrapper {
    position: relative;
    @include breakpointAbove($breakpointTablet) {
      margin: 0 3em;
    } 
  } 
  &__anchors {
    @include breakpointBelow($breakpointMobile) {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: 300ms ease-in-out max-height, 500ms opacity;
      background-color: $_backgroundColor;
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
    }
    .expanded & {
      @include breakpointBelow($breakpointMobile) {
        max-height: 100vh;
        opacity: 1;
      }
    }
    li {
      display: block;
      @include breakpointAbove($breakpointMobile) {
        display: inline-block;
      }
    }  
    a {
      text-decoration: none;
      display: inline-block;
      padding: 1.1em 1.8em 1.5em;
      font-size: $microcopySizeMobile;
      color: $textColorInactive;
      
      // @include breakpointAbove($breakpointTablet) {
      //   padding: 1.1em 1.8em 1.5em;        
      // }
      
      &.active {
        color: $textColorActive;
      }
    }    
  } 
  &__current {
    display: block;
    font-weight: $fontWeightSemiBold;
    color: $mainTextColor;
    padding: 1.1em 18px;
    text-decoration: none;
    font-size: 14px;
    max-width: 68%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.26L7.356 7 14 1' stroke='%230191BD' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
      margin-left: 1em;
    }
  }
  &__shop {
    position: absolute;
    top: 10px;
    right: 18px;    
    @include breakpointAbove($breakpointMobile) {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &-price {
      font-size: $microcopySize;
      margin-right: 2.3em;
    }
  }
}