@import "~@owl-labs/web-common/scss/variables";

$_prefix: chart;
$_diameters: ( 
  'large': 120px,
  'small': 70px
);
$_heights: (
  'bar': 8px,
  'comparison': 28px
);
$_colors: (
  'green': #10D2B6,
  'darkblue': #0291BD, 
  'midblue': #41ADCE,
  'lightblue': #BFE3EE,
  'grey': #D6E1E5,
  'darkgrey': #919798,
  'darkorange': #E4A300,
  'midorange': rgba(228, 163, 0, 0.75),
  'lightorange': rgba(228, 163, 0, 0.25)
);
$_iconPositions: (
  //'beach': 0 0,
  //'car': -51px 0,
  //'clock': -102px 0,
  'calendar': -153px -153px,
  'cursor': -153px 0,
  'finance': 0 -51px,
  'government': -51px -51px,
  'laptop': -102px -51px,
  'manufacturing': -153px -51px,
  'money': 0 -102px,
  'pencil': -51px -102px,
  'red-cross': -102px -102px,
  'retail': -153px -102px,
  //'scales': 0 -153px,
  'stethoscope': -51px -153px,
  'stocks': -102px -153px
);
$_animationSpeed: 1500ms;

@keyframes animatePieChart {
  0%, 50% { stroke-dasharray: 0, 0, 0, 100} 
}
@keyframes animateBarChart {
  from {
    width: 0;
  }
}

.#{$_prefix} {
  /* 
   * ALL CHARTS
   */
  @include breakpointAbove($breakpointMobile) {
    max-width: 408px;
  }
  &__label {
    display: block;
  } 
  &__description {
    margin: 1.25em 0 1em;
  }
  &__flex-wrapper {
    display: flex;
    padding: .48em 0 .48em;
    &[data-mobile-behavior="noflex"] {
      @include breakpointBelow($breakpointMobile) {
        display: block;
      }
    }
    &-icon {
      display: inline-block;
      background: url('//cdn2.hubspot.net/hubfs/2799205/website/sorw/2019/sorw-icon-sprite.png') no-repeat;
      overflow: hidden;
      text-indent: -51px;
      text-align: left;
      margin-right: 1em;
      width: 51px;
      height: 51px;
      @each $name, $position in $_iconPositions {
        &[data-icon="#{$name}"] {
          background-position: $position;
        }
      }
    }
    &-description {
      @include breakpointAbove($breakpointMobile) {
        width: 47%;
        margin-right: 3%;
      }
      p {
        @include breakpointAbove($breakpointMobile) {
          margin: 0;
        }        
      }
    }
    .#{$_prefix} {
      flex: 1;
    }
  }
  
  
  /* 
   * PIE CHARTS
   */
  &[data-type="pie"] {
    margin: 1em 0;
    position: relative;
    // TODO: breakpoint
    display: flex;
    align-content: space-between;
    align-items: center;
    .#{$_prefix} {
      &__circle {
        fill: rgba(0,0,0,0);
        stroke-width: 31.8309886184;
        stroke-dasharray: 0, 0, 0, 100;
        stroke-dashoffset: 25; 
        opacity: 0;
        transition: $_animationSpeed ease opacity;
        
        @each $name, $hex in $_colors {
          &[data-color="#{$name}"] {
            stroke: $hex;
          }
        }
      }
      &__legend {        
        flex: 66%;
      }
      &__svg {
        margin-left: 1em;
        @each $name, $diameter in $_diameters {
          &[data-size="#{$name}"] {
            height: $diameter; 
          }
        }
        &[data-alignment="left"] {
          order: -1;
          margin-left: 0;
          margin-right: 1em;
        }
      }
      &__label {
        display: block;
        margin: 1.2em 0;
        &[data-color] {
          &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 8px;  
            margin-right: 0.5em;      
          }
        }
        @each $name, $hex in $_colors {
          &[data-color="#{$name}"] {
            &::before {
              background-color: $hex;
            }
          }
        }
        &:only-child {
          &::before {
            display: none;
          }
        }
      } 
    }
  }
  
  
  
  /* 
   * BAR CHARTS
   */
  &[data-type="bar"] {
    margin: 1px 0;
    .#{$_prefix} {
      &__legend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
      }
      &__value {
        text-align: right;
        transition: 1s ease-in-out opacity;
      }
      &__progress {
        background-color: map-get($_colors, 'grey');
        width: 100%;
        height: map-get($_heights, bar);
        display: inline-block;
        
        &-bar {
          vertical-align: top;
          height: map-get($_heights, bar);
          display: inline-block;
          animation: animateBarChart 1s ease-out forwards;
          animation-play-state: paused;
          
          @each $name, $hex in $_colors {
            &[data-color="#{$name}"] {
              background-color: $hex;
            }
          }
        }
      }
    }    
  }
  
  
  /* 
   * COMPARISON CHARTS
   */
  &[data-type="comparison"] {
      background-color: $backgroundLight;
      font-size: 14px;
      + .#{$_prefix}[data-type="comparison"] {
        margin-top: 2em;
      }
      .#{$_prefix} {
        &__svg {
          width: 100%;
          height: 61px;
        }
        &__progress-bar {          
          animation: animateBarChart 1s ease-out forwards;
          animation-play-state: paused;

          @each $name, $hex in $_colors {
            &[data-color="#{$name}"] {
              fill: $hex;
            }
          }
        }        
        &__text {
          &-light {
            fill: $backgroundLight;
          }
          &-dark {
            fill: $mainTextColor;
          }
        }
        &__flex-wrapper-icon {
          margin-left: .7em;
        }
        &__legend {
          font-size: 1.25em;
          margin-bottom: .5em;
        }
      }
    }
  
  /* 
   * IN VIEW
   */
  &.viewed {
    &[data-type='pie'] {
      .#{$_prefix} {
        &__circle {
          opacity: 1;
          animation: animatePieChart $_animationSpeed 1 ease-in-out forwards;
        }
      }
    }
    &[data-type="bar"],
    &[data-type="comparison"] {
      .#{$_prefix} {
        &__progress-bar {
          animation-play-state: running;
        }
      }
    }
  }
}
