[data-animate-in="up"] {
  opacity: 0;
  transform: translate3d(0, 24px, 0);
  transition: transform 0.8s ease, opacity 0.8s ease;
  &.viewed {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    //transition: transform 0.6s ease, opacity 0.6s ease;
  }
}