.owl-promo-bar {
  display: none;
  .page-anchor-nav ~ & {
    display: block;
    position: sticky;
    left: 0;
    top: 124px;
    background-color: #D6E1E5;
    @include breakpointAbove($breakpointMobile) {
      top: 111px;
    }
  }
  .page-anchor-nav__shop {
    @include breakpointBelow($breakpointMobile) {
      display: none;
    }
  }
}
