$_prefix: section;

.#{$_prefix} {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  ~ .page-anchor-nav {
    @include breakpointAbove($breakpointMobile) {
      border-top: 1px solid #CFCFCF;
      padding-top: 1em;
      // &:first-child {
      //   padding-top: 0;
      //   border-top: none;
      // }
    }
  }
  + .page-anchor-nav {
    border-top: none;
    padding-top: 0;
  }  
  &:first-child {
    @include breakpointAbove($breakpointMobile) {
      max-width: 970px;
    }
    .#{$_prefix}__column {
      @include breakpointAbove($breakpointMobile) {
        width: 44.4%;
      }
    }
  }
  &#intro {
    padding-top: 4.4em;
  }
  hr {
    margin: 20px 0;
    @include breakpointAbove($breakpointMobile) {
      margin: 54px 0;
    }
  }
  &__heading {
    text-align: center;
    margin: 1.15em 0 1.9em;
  }
  &__row {
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      justify-content: space-between;
    }    
    &[data-columns="3"] {
      .#{$_prefix}__column {
        @include breakpointAbove($breakpointMobile) {
          margin-left: 6.5%;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    &[data-style="cta"] {
      background-color: #F3F5F6;
      padding: 1em;
      margin-top: 1.3em;
      
      @include breakpointAbove($breakpointMobile) {
        align-items: center;
        align-content: center;
        margin-top: 5.4em;
      }
      p {
        margin: 0;
      }
      .cta {
        text-decoration: none;
        font-size: 14px;
        margin-top: 2em;
      }
      .#{$_prefix}__column {
        &:nth-child(even) {
          @include breakpointAbove($breakpointMobile) {
            margin-left: 2%;
          }
        }
      }
      & + [data-style="cta"] {
        margin-top: 0;
        &:empty {
          display: none;
        }
      }
    }
    &[data-alignment="end"] {
      @include breakpointAbove($breakpointMobile) {
        align-items: flex-end;
      }
    }
  }
  &__column {
    font-size: 14px;
    line-height: (22 / 14);
    @include breakpointAbove($breakpointMobile) {
      //width: 49%;
      margin-left: 12%;
      flex: 1;
      font-size: 18px;
      line-height: (26 / 18);
    }
    &:first-child {
      @include breakpointAbove($breakpointMobile) {
        margin-left: 0;
      }
    }
    &:only-child {
      @include breakpointAbove($breakpointMobile) {
        width: 100%; // TODO: figure this out
      }
    }
    &[data-width="narrow"] {
      @include breakpointAbove($breakpointMobile) {
        max-width: 410px;
      }
    }
    a:not(.cta_button) {
      text-decoration: underline;
    }
  }
}