$_prefix: report;

.#{$_prefix} {
  &-bg {
    padding-bottom: 3.65em;
    background-color: #D4CDC9;
    @include breakpointAbove($breakpointMobile) {
      padding: 3.65em 0;
      color: $mainTextColorOnDark;
      background-size: cover;
      background-image: url('//www.owllabs.com/hs-fs/hubfs/website/sorw/2019/meeting-owl.png?width=1366&name=meeting-owl.png');
      background-position: bottom;
      min-height: 464px;
    }
    &__image {
      width: 100%;
    }
    &__text {
      @include breakpointAbove($breakpointMobile) {
        max-width: 400px;
        float: right;
        clear: both;    
        padding: 4em 0;    
      }      
    }
    &__rte {
      font-size: 18px;
      line-height: (26 / 18);
    }
    @include breakpointAbove($breakpointMobile) {
      a {
        &:not(.cta_button) {
          color: $mainTextColorOnDark;
          text-decoration: underline;
          @include handleHover() {
            color: $mainTextColorOnDark;
          }
        }
      }
    }
    
    &::after {
      @include breakpointAbove($breakpointMobile) {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  &-info {
    padding: 3.4em 0;   
    &__wrapper {      
      @include breakpointAbove($breakpointMobile) {
        display: flex;
      }
    }
    &__rte {
      p {
        @include breakpointAbove($breakpointMobile) {
          margin: 0;
        }
      }
    }
    &__logo {
      min-width: 138px;      
      @include breakpointAbove($breakpointMobile) {
        margin-right: 5em;
      }
    }
  }
  &-discount {
    &__wrapper {
      padding-top: 2.8em;
      padding-bottom: 2.9em;
      text-align: center;
      max-width: 588px;
    }
    &__text {
      font-size: 18px;
      line-height: (26 / 18);
      margin: .7em 0 1.75em;
      strong {
        color: $mainLinkColor;
      }
    }
  }
}