.section {
  h2 {
    @include h1();
  }

  h3 {
    @include h2();
  }

  .h3 {
    @include h3();
    &[data-size="narrow"] {
      margin-bottom: 0;
      @include breakpointAbove($breakpointMobile) {
        max-width: 40%;
      }
    }
  }

  h4 {
    font-size: 14px;
    line-height: (26 / 14);
    font-weight: $fontWeightSemiBold;
    @include breakpointAbove($breakpointMobile) {
      //max-width: 30%; // TODO: might not be consistent between charts
      font-size: 18px;
      line-height: (26 / 18);
    }
  }
}

blockquote {
  font-size: 18px;
  line-height: (26 / 18);
  @include breakpointAbove($breakpointMobile) {
    //max-width: 30%; // TODO: might not be consistent between charts
    font-size: 22px;
    line-height: (32 / 22);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: #cfcfcf;
  margin: 0;
}