@import "~@owl-labs/web-common/scss/variables";
@import "../../../../global/assets/styles/components/blog-subscribe";
@import './partials/social';
@import './partials/s2-overrides';

$_prefix: footer;

.#{$_prefix} {
  padding: 2.1em 0;
  @include breakpointAbove($breakpointMobile) {
    padding: 3em 0;
  }
  &::after {
    @include breakpointAbove($breakpointMobile) {
      content: '';
      display: block;
      clear: both;
    }
  }
  @include breakpointAbove($breakpointMobile) {
    padding: 3.2em 3em;
  }

  a {
    text-decoration: none;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $maxWidthNav;
  }

  .form-embed {
    @include breakpointAbove($breakpointMobile) {
      width: 32%;
      float: right;
    }
    @include breakpointBelow($breakpointMobile) {
      border-top: 1px solid $secondaryDarkGrey;
      margin-top: 2.55em;

      .blog-subscribe {
        padding: 2em 1.4em 3.45em;
      }
    }
  }

  &__navs {
    padding: 0 1.4em;
    @include breakpointAbove($breakpointMobile) {
      width: 65%;
      padding: 0;
      margin-right: 3%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      float: left;
    }

    // Main footer nav
    &-main {
      @include breakpointAbove($breakpointMobile) {
        width: 43%;
      }
      a {
        color: $mainTextColorOnDark;
        font-size: 1.34em;
        margin-bottom: .4em;
        display: block;
        font-weight: $fontWeightSemiBold;
        @include breakpointAbove($breakpointMobile) {
          font-size: 2.2em;
          font-weight: 400;
          margin: 0;
        }
      }
      .currency-dropdown {
        margin-top: 2.8em;
        display: none;
        @include breakpointAbove($breakpointTablet) {
          display: block;
        }
      }
    }

    // Secondary nav
    #hs_menu_wrapper_footer_footer_secondary_nav {
      font-size: 0.875em;
      @include breakpointAbove($breakpointMobile) {
        width: 35.3%;
        font-size: 1.1em;
      }      
      ul {
        @include breakpointBelow($breakpointMobile) {
          columns: 2;
          margin: 2em 0;
        }
        li {
          margin: 0.6em 0;
          @include breakpointAbove($breakpointMobile) {
            margin: 1.36em 0
          }
          @include breakpointBelow($breakpointMobile) {
            display: inline-block;
            width: 100%;
          }
        }
      }
      .currency-dropdown {
        display: none;
      }
    }
  }

  &__appendix {
    display: flex;    
    flex-direction: column;
    padding: 0 1.4em;
    @include breakpointAbove($breakpointMobile) {
      padding: 0;
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    .social,
    &-copyright {
      color: $textColorActiveOnDark;
    }
    &-copyright {
      margin: 0;
      a {
        color: $textColorActiveOnDark;
      }
    }
  }
}
