@import "~@owl-labs/web-common/scss/variables";
$_prefix: blockquote;

.#{$_prefix} {
  font-size: 1.36em;
  text-align: center;
  margin: .85em auto;
  padding: 0 20px;
  line-height: 1.55;
  @include breakpointAbove($breakpointMobile) {
    padding: 0;
    max-width: 649px;
    margin: 3.67em auto 3.36em;
    font-size: 1.61em;
  }
}