@import "~@owl-labs/web-common/scss/variables";

$_prefix: callout;

.#{$_prefix} {
  padding: 1.45em .8em 1.45em 1.45em;
  &[data-color="color0"] {
    background-color: #F4F4F4;
  }
  &[data-color="color1"] {
    background-color: rgba(1,145,189,0.05);
  }
  p {
    margin: 0;
  }
  @include breakpointBelow($breakpointMobile) {
    margin: 1.5em 0;
  }
}