// body,
// html {
//   height: 100%;
// }

// #MainContent {
//   background-color: $backgroundLight;
//   padding: 4.4em 0;
//   position: relative;
//   z-index: 1;
// }

// footer {
//   position: relative;
// }

// .header {
//   @include breakpointBelow($breakpointMobile) {
//     position: fixed;
//   }
// }

// .owl-promo-bar {
//   ~ #MainContent {
//     .banner {
//       // TODO: fix this
//       max-height: calc(100vh - 105px);
//       @include breakpointAbove($breakpointMobile) {
//         max-height: calc(100vh - 93px);
//       }
//     }
//   }
// }