@import '~@owl-labs/web-common/scss/variables';

/* 
 * TEMPORARY
 * ================
 * Overriding Salted Stone's CSS. Sigh.
 */

.footer-container-wrapper {
  font-weight: normal;
  .variant-new--true {
    .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
      float: none;
    }
    .footer {
      color: $mainTextColorOnDark;
      background-color: $backgroundDark;   
      &__appendix-copyright {
        @include responsiveFont(2vw, 12px, 12px, 12px);
        line-height: 1.3333;
      }
      a {
        color: $mainTextColorOnDark;
        @include handleHover() {
          color: #919798;
        }
      }
      .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
        padding: 0;
      } 
      .blog-subscribe {
        input {
          background-color: $backgroundLight;
          border: none;
        }
      }
    }     
  }
}