$_prefix: social;

.#{$_prefix} {
  @include breakpointAbove($breakpointMobile) {
    position: relative;
    bottom: -8px;
  }      
  @include breakpointBelow($breakpointMobile) {
    margin-bottom: 1.7em;
  }
  &__heading {
    @include uppercaseString();
    font-size: 0.875em;
    letter-spacing: 1.1px;
    margin-bottom: .85em;
    text-indent: 3px;
  }
  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
  }
  &__icon {  
    &-path,
    &-outline,
    &-inner {
      transition: 300ms all;
      transform-origin: 50% 50%;
    }
    &-outline {
      // [data-bg="white"] & {
      //   stroke: $backgroundMid;
      // }
    }
    &-path {
      transform: translate(10px, 11.5px);
      [data-bg="white"] & {
        fill: $backgroundMid;
      }
    }
    
    &-group {
      &[data-variant='linkedin'] {
        .#{$_prefix}__icon-path {
          transform: translate(11px, 10px);
        }        
      }
      &[data-variant='facebook'] {
        .#{$_prefix}__icon-path {
          transform: translate(14px, 10px);
        }        
      }
      &[data-variant='instagram'] {
        .#{$_prefix}__icon-path {
          transform: translate(10px, 10px);
        }        
      }
      &:hover {
        .no-touch & {
          .#{$_prefix} {
            &__icon {
              &-outline {
                transform: scale(1.2);
              }
              &-inner {
                fill: $mainTextColorOnDark;
                [data-bg="white"] & {
                  fill: $backgroundMid;
                }
              }
              &-path {
                fill: $mainTextColor;
                [data-bg="white"] & {
                  fill: $backgroundMid;
                }
              }
            }
          }
        }
      }
    }
  }
}