$_prefix: flex-ribbon;

.#{$_prefix} {
  padding: 3em 0;
  margin: 85px 0 74px;
  &[data-variant="simple"] {
    margin: 1.25em 0;
  }
  &__wrapper {
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      justify-content: space-between;
    }    
  }
  &__item {
    @include breakpointAbove($breakpointMobile) {
      width: 48%;
    }
    &[data-variant="form"] {
      margin-top: 3em;
      @include breakpointAbove($breakpointMobile) {
        max-width: 410px;
        margin-top: 0;
      }
      .hs-email {
        .hs-field-desc {
          @include hideVisually();
        }
      }
    }
    &:only-child {
      text-align: center;
      width: 100%;
    }
  }
}