@import "~@owl-labs/web-common/scss/variables";

$_prefix: cta-ribbon;
$_bgColor: #E4E5EA;

.#{$_prefix} {
  &[data-has-background="false"] {
    text-align: center;
    background-color: $backgroundOffWhite;
    padding: 2.8em 0;
    @include breakpointAbove($breakpointMobile) {
      padding: 3.8em 0;
    }
  }
  &[data-has-background="true"] {
    background-color: $_bgColor;
    padding: 4em 0 0;
    text-align: center;
    @include breakpointAbove($breakpointMobile) {
      position: relative;
      padding: 5.1em 0 8.55em;
      overflow: hidden;
      text-align: left;
    }
    .max-width--layout {
      @include breakpointBelow($breakpointMobile) {
        padding: 0 20px;
      }
    }
    h2 {
      margin-top: 0.4em;
      margin-bottom: 0;
      @include breakpointAbove($breakpointMobile) {
        margin-top: 0.95em;
        margin-bottom: 0.2em;
      }
    }
  }
  &__ctas {
    margin: 2em 0 .3em;
    display: flex; 
    flex-direction: column;
    align-items: center;
    [data-has-background="true"] & {
      @include breakpointAbove($breakpointMobile) {
        align-items: flex-start;
      }      
    }
    .cta_button {
      vertical-align: baseline;
    }
    .cta,
    .hs-cta-wrapper {
      margin-top: 2em;
      &:first-child {
        margin-top: 1em;
      }
      &:only-child {
        margin-top: 0;        
      }
    }
    @include breakpointBelow($breakpointMobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__description {
    @include breakpointAbove($breakpointMobile) {
      font-size: 1.12em;
    }    
  }
  &__text {
    &[data-variant="has-description"] {
      display: flex;
      flex-direction: column;
      @include breakpointAbove($breakpointMobile) {
        position: relative;
        z-index: 1;
        max-width: 400px;
      }
      .#{$_prefix} {
        &__description {
          order: -1;
        }
      }
    }
    [data-has-background="true"] & {
      @include breakpointBelow($breakpointMobile) {
        padding-bottom: 3.65em;
      }
    }
  }
  &__image {
    line-height: 0;
    display: block;
    img {
      width: 100%;
      @include breakpointAbove($breakpointMobile) {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        top: 50%;
        right: 0;
        max-width: none;
        transform: translateY(-50%);
      }    
    }
  }
}