@import "~@owl-labs/web-common/scss/variables";

$_border: #D8D8D8;

.owl-promo-bar {
  @include responsiveFont(2vw, 12px, 12px, 12px);
  text-align: center;
  padding: 0.7em 10px;
  border-bottom: 1px solid $_border;
  z-index: 1;
  position: relative;
  background-color: $backgroundLight;
  line-height: 1.3333;
  .menu-open & {    
    @include breakpointBelow($breakpointMobile) {
      display: none;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $mainTextColor;
    @include handleHover() {
      color: $mainLinkColor;
    }
  }
}