{%- set defaultCurrency = widget_data.locale_config.currency_codes[request.geoip_country] or 'USD' -%}
<nav class="currency-dropdown">
  <ul class="currency-dropdown__list">
    <li class="currency-dropdown__parent">
      {# Default currency #}
      <span class="currency--selected-value currency" data-selected-currency="{{ defaultCurrency }}" data-usd="USD" data-GBP="GBP" data-CAD="CAD"></span>
      {% include '/Owl Web Team/templates/svg/arrow.html' %}
      {# Available currencies #}
      <ul>
      {%- for currency in widget_data.locale_config.available_currencies -%}
        <li class="currency-dropdown__link{% if currency == defaultCurrency %} active{% endif %}" data-code="{{ currency }}">{{ currency }}</li>
      {%- endfor -%}
      </ul>
    </li>
  </ul>
</nav>