@import '~@owl-labs/web-common/scss/variables';

$_prefix: press-cards;

.#{$_prefix} {
  a {
    color: $mainTextColor;
    text-decoration: none;
    @include handleHover() {
      color: $mainLinkColor;
    }
  }
  &__container {
    @include breakpointAbove($breakpointMobile) {
      display: flex;
      justify-content: space-between;
    }
  }
  // + .#{$_prefix} {
  //   margin-top: 5.8em;
  // }
  &__section {
    margin-top: 3.45em;
    width: 100%;
    @include breakpointAbove($breakpointMobile) {
      margin-top: 0;
    }
  }  
  &__card {
    border: 1px solid #cfcfcf;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    @include breakpointAbove($breakpointMobile) {
      width: 28.4%;
    }
    &-text {
      padding: 1.1em 1.25em;
    }
    &-date {
      font-size: 0.9em;
      margin: 0.5em 0 0;
      color: $textColorActiveOnDark;
      //margin: 3.25em 0 0.55em;
      font-size: .765em;
      line-height: 1.35;
      //letter-spacing: 1px;
    }
    &-ctas {
      margin-bottom: 1.9em;
    }
    &-summary {
      font-size: .87em;
      margin: 1.5em 0 1.15em;
      line-height: 1.35;
    }
    &-image-wrapper {
      position: relative;
      overflow: hidden;    
      &::after {
        content: '';
        height: 0;
        padding-bottom: 44.3%;
        display: block;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: none;
      }    
    }
  }
}