<!--
  templateType: error_page
  isAvailableForNewContent: true
-->
{% extends "../includes/base.html" %}


{% block body %}
<div class="content-wrapper">
  <div class="error-page" data-error="404">
    <h1 class="error-page_heading">
      Page not found.
    </h1>
    <a class="hs-button" href="/">Go Home</a>
  </div>
</div>
{% endblock body %}
