<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
-->
{% extends "../includes/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page">
    {% module "subscriptions_confirmation" path="@hubspot/email_subscriptions_confirmation" %}
  </div>
</div>
{% endblock body %}
