<!--
  templateType: global_partial
-->
<footer class="footer" data-bg="dark">
  <div class="footer__wrapper">
    
    <div class="footer__navs">
      <div class="footer__navs-main">
        {# Footer nav #}
        {%- simple_menu "footer_nav" menu_tree="{{ widget_data.global_config.footer_nav }}", max_levels="1", no_wrapper=True, overrideable=False -%}

        {# Currency dropdown #}
        {#{%- include '/Owl Web Team/templates/includes/currency-dropdown.html' -%}#}
      </div>

      {# Secondary nav #}
      {%- simple_menu "footer_secondary_nav" menu_tree="{{ widget_data.global_config.secondary_nav }}", max_levels="1", no_wrapper=True, overrideable=False -%}

    </div>

    {# Blog subscribe #}
    <div class="form-embed" data-css-class="blog-subscribe" data-portal-id="2799205" data-form-id="dde7f579-de7b-4e02-b281-6e212bcfb44d" id="subscribe-footer"></div>
    
    <div class="footer__appendix">

      {# Social #}
      {%- include '/Owl Web Team/templates/includes/social.html' -%}

      {# Copyright #}
      <p class="footer__appendix-copyright owl-microcopy">&copy; {{ year }} Owl Labs &nbsp;|&nbsp; <a href="https://www.owllabs.com/privacy-policy">{{ l10n[html_lang].privacyPolicy or l10n['en'].privacyPolicy }}</a> &nbsp;|&nbsp; <a href="https://www.owllabs.com/terms-of-service">{{ l10n[html_lang].termsOfService or l10n['en'].termsOfService }}</a></p>
    </div>
  </div>
</footer>

{# TODO: Remove temporary script that targets non-base.html templates #}
{%- unless template_meta.folder == "Owl Web Team/templates" -%}
  <script crossorigin="anonymous" type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Array.prototype.reduce%2CArray.prototype.includes%2CArray.prototype.find%2CArray.prototype.filter%2CArray.prototype.forEach%2CArray.prototype.some%2CSymbol%2Ces6%2CString.prototype.includes%2CNode.prototype.contains"></script>
{%- endunless -%}